/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
    background-color:#f2f2f2;
    overflow-x:hidden;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0
}
.site-footer, .page-wrap:after {
  height: 100px; 
}
.site-footer {
  background: #BABABA;
  width: 80%;
  margin: 0 auto;
}

/* ==========================================================================
   TOP BAR
   ========================================================================== */
.top-bar {
/*    background: rgba(210,255,82,1);
    background: -moz-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(255,250,97,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(255,250,97,1)));
    background: -webkit-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(255,250,97,1) 100%);
    background: -o-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(255,250,97,1) 100%);
    background: -ms-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(255,250,97,1) 100%);
    background: linear-gradient(to right, rgba(210,255,82,1) 0%, rgba(255,250,97,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#fffa61', GradientType=1 );*/
    background: url('/img/top-bar-bg.png');
    background-size: cover;
    height: 88px;
}

.top-bar-wrapper {
    width: 80%;
    margin: 0 auto;
}

.nrg-logo {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
}
.nrg-logo img.top-logo {
    width: 150px;
}
.nrg-nav {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    text-align: right;
}
.nrg-nav ul li {
    display: inline-block;
    padding: 0 15px;
}
.nrg-nav ul li:last-child {
    padding-right: 0;
}

.nrg-nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color:#000;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.1em;
}



/* ==========================================================================
   NRG HEADER
   ========================================================================== */
.nrg-header {
    width: 80%;
    margin: 30px auto;
}

.nrg-header header {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
}

.nrg-header header h2 {
    color:#424242;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 36px;
}
.nrg-button {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 25%;

}

.nrg-button button {
    background-color:#333333;
    color:#fff;
    border:0;
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    font-size: 13px;
    text-transform: uppercase;
    text-align: left;
    width: 180px;
    height: 46px;
    padding-left: 20px;
    position: relative;
}
.nrg-button button:after {
    content: url('/img/arrow-down.png');
    position: absolute;
    right: 20px;
}


/* ==========================================================================
   NRG HERO
   ========================================================================== */

.nrg-hero-img {
    position: relative;
}

.nrg-hero-text {
    position: absolute;
    padding-left: 100px;
    margin: 0 auto;
    bottom:100px;
}

.nrg-hero-text h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    font-size: 46px;
    line-height: 1.1em;
    color:#fff;
}

.nrg-hero-text button {
    background-color:#fffc38;
    color:#3A3A3A;
    border:0;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    width: 180px;
    height: 45px;
    margin-top: 20px;
}



/* ==========================================================================
   NRG PACKAGES
   ========================================================================== */
.nrg-package {
    background-color:#fff;
    min-height: 550px;
    position: relative;
    padding-bottom: 50px;
}
.nrg-package-wrapper {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}

.nrg-package h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 46px;
    color:#3A3A3A;
    padding-bottom: 30px;
}
.nrg-package p.see-all {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color:#000;
    font-size:16px;
}

.nrg-package img {
    position: absolute;
    top:90px;
    right:0;
    width: 500px;
}

.all-nrg-packages {
    width: 60%;
}
.product-package {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height:130px;
    width: 230px;
    background-color:#a5a5a5; 
    margin-bottom: 15px;
    padding: 20px;
}
.product-package h4 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 28px;
    color:#fff;
}

.product-package h6 {
    font-family: 'Ruda', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color:#fff;
}
.product-package button {
    position: absolute;
    bottom: 2px;
    left: 0;
    padding: 6px;
    width: 100%;

    background-color: #333333;
    color:#ddd;
    border:0;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}
.product-package button:hover {
    color:#000;
    background-color:#fffc38;
    
}



/* ==========================================================================
   SPECS
   ========================================================================== */

.nrg-specs-wrapper {
    width: 80%;
    margin: 0 auto 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 2px solid #BABABA;
}

.nrg-specs h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 46px;
    color:#3A3A3A;
    padding-bottom: 30px;
    text-align: center;
}

.spec-block {
    display: inline-block;
    vertical-align: top;
    width: 29%;
    margin-right: 3%;
    margin-bottom: 30px;
}
.spec-block h6 {
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    color:#000;
    text-align: left;
    line-height: 2em;
}
.spec-block p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 14px;
    color:#3A3A3A;
    text-align: left;
}




/* ==========================================================================
   NRG CONTACT
   ========================================================================== */
.nrg-contact-wrapper {
    width: 80%;
    margin: 0 auto 80px;
}

.nrg-contact h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 46px;
    color:#3A3A3A;
    padding-bottom: 30px;
    text-align: center;
}

.contact-form-block {
    text-align: center;
    margin:0 auto;
    width: 60%;
    background-color: #fff;
    padding: 20px;
    overflow: hidden;
}
.contact-form-block .row {
    text-align: left;
    width: 100%;
}
.contact-form-block  {
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    color:#000;
    text-align: left;
    line-height: 2em;
}

.contact-form-block .row label {
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    color:#000;
    text-align: left;
    line-height: 2em;
}
.contact-form-block .row textarea {
    border:0;
    background-color:#F2F2F2;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    width: 96%;
    height: 130px;
    font-size: 15px;
    margin-top: 5px;
    padding-left: 10px;
}
.contact-form-block .row input {
    border:0;
    background-color:#F2F2F2;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    height: 30px;
    font-size: 15px;
    margin-top: 5px;
    margin-right: 6px;
    padding-left: 10px;
    width: 92%;
}
.contact-form-block .row-input {
    float: left;
    width: 50%;
}

.contact-form-block .row-submit {
    width: 99%;
}
.contact-form-block input#submit-button {
    background-color:#fffc38;
    color:#000;
    border:0;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    width: 180px;
    height:40px;
    margin-top: 15px;
    float: right;
}



/* ==========================================================================
   NRG PACKAGES
   ========================================================================== */
.site-footer-wrapper {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}
.site-footer h3 {
    display: inline-block;
    vertical-align: middle;
    color:#F2F2F2;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 0.05em;
}
.site-footer h3 span.copyright {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 10px;  
    letter-spacing: 0em;
}
.site-footer ul {
    float: right;
}
.site-footer ul li {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color:#fff;
    text-align: left;
    padding-right: 20px;
    margin-top: 22px;
}
.site-footer ul li:last-child {
    padding-right:0;
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
