

@font-face {
	font-family: 'AmplitudeCond';
	src: url('AmplitudeCond-Light.eot');
	src: url('AmplitudeCond-Light.eot?#iefix') format('embedded-opentype'),
		url('AmplitudeCond-Light.woff') format('woff'),
		url('AmplitudeCond-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'Unit';
	src: url('Unit-Bold.eot');
	src: url('Unit-Bold.eot?#iefix') format('embedded-opentype'),
		url('Unit-Bold.woff') format('woff'),
		url('Unit-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
